<!-- templates/add_order.html -->

{% extends "base.html" %}

{% block title %}Добавить Заказ{% endblock %}

{% block content %}
<h2 class="mb-4">Добавить заказ для пользователя {{ user_id }}</h2>
<form action="{{ url_for('add_order', user_id=user_id) }}" method="post">
    <!-- Добавление CSRF-токена -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <div class="mb-3">
        <label for="status" class="form-label">Статус заказа</label>
        <select name="status" id="status" class="form-select" required>
            <option value="order_status_accepted">Принято</option>
            <option value="order_status_in_progress">Выполняется</option>
            <option value="order_status_waiting_payment">Ожидание оплаты</option>
            <option value="order_status_completed">Выполнено</option>
            <option value="order_status_pending">Ожидание</option>
            <option value="order_status_cancelled">Отменен</option>
            <option value="order_status_returned">Возврат</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="payment_method" class="form-label">Способ оплаты</label>
        <select name="payment_method" id="payment_method" class="form-select" required>
            <option value="cash">Наличные</option>
            <option value="PayMe">PayMe</option>
        </select>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="paid" name="paid">
        <label class="form-check-label" for="paid">Оплачен</label>
    </div>
    <button type="submit" class="btn btn-primary">Добавить заказ</button>
    <a href="{{ url_for('users') }}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}