<!-- templates/feedbacks.html -->

{% extends "dashboard.html" %}

{% block content %}
<h2 class="mb-4">Отзывы</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID Пользователя</th>
            <th>Отзыв</th>
        </tr>
    </thead>
    <tbody>
        {% for feedback in feedbacks %}
        <tr>
            <td>{{ feedback['user_id'] }}</td>
            <td>{{ feedback['feedback'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}