<!-- templates/orders.html -->

{% extends "dashboard.html" %}

{% block content %}
<h2 class="mb-4">Список заказов</h2>

<form method="post" class="mb-3">
    <!-- Включение CSRF-токена -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <div class="row align-items-end">
        <!-- Поле выбора типа фильтра -->
        <div class="col-md-2">
            <label for="search_field" class="form-label">Фильтр по:</label>
            <select name="search_field" id="search_field" class="form-select">
                <option value="order_id">ID Заказа</option>
                <option value="user_id">ID Пользователя</option>
            </select>
        </div>
        <!-- Поле ввода значения для поиска -->
        <div class="col-md-3">
            <label for="search_term" class="form-label">Значение:</label>
            <input type="text" name="search_term" id="search_term" class="form-control" placeholder="Введите значение для поиска">
        </div>
        <!-- Поля для выбора диапазона дат -->
        <div class="col-md-3">
            <label for="start_date" class="form-label">Дата с:</label>
            <input type="date" name="start_date" id="start_date" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="end_date" class="form-label">Дата по:</label>
            <input type="date" name="end_date" id="end_date" class="form-control">
        </div>
        <!-- Кнопка отправки формы -->
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </div>
    <div class="row align-items-end mt-3">
        <!-- Поле выбора статуса заказа -->
        <div class="col-md-3">
            <label for="status" class="form-label">Статус заказа:</label>
            <select name="status" id="status" class="form-select">
                <option value="">Все</option>
                <option value="order_status_accepted">Принято</option>
                <option value="order_status_in_progress">Выполняется</option>
                <option value="order_status_waiting_payment">Ожидание оплаты</option>
                <option value="order_status_completed">Выполнено</option>
                <option value="order_status_pending">Ожидание</option>
                <option value="order_status_cancelled">Отменен</option>
                <option value="order_status_returned">Возврат</option>
            </select>
        </div>
        <!-- Поле выбора метода оплаты -->
        <div class="col-md-3">
            <label for="payment_method" class="form-label">Метод оплаты:</label>
            <select name="payment_method" id="payment_method" class="form-select">
                <option value="">Все</option>
                <option value="cash">Наличные</option>
                <option value="PayMe">PayMe</option>
            </select>
        </div>
        <!-- Поле выбора статуса оплаты -->
        <div class="col-md-3">
            <label for="paid" class="form-label">Оплата:</label>
            <select name="paid" id="paid" class="form-select">
                <option value="">Все</option>
                <option value="1">Оплачено</option>
                <option value="0">Не оплачено</option>
            </select>
        </div>
    </div>
</form>

<!-- Отступ между формой и таблицей -->
<div class="mb-4"></div>

{% if orders %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID Заказа</th>
            <th>Имя Пользователя</th>
            <th>ID Пользователя</th>
            <th>Дата заказа</th>
            <th>Статус</th>
            <th>Метод оплаты</th>
            <th>Оплачено</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order['order_id'] }}</td>
            <td>{{ order['user_name'] }}</td>
            <td>{{ order['user_id'] }}</td>
            <td>{{ order['order_date'] | format_datetime }}</td>
            <td>{{ get_order_status_display(order['status'], order['language']) }}</td>
            <td>
                {% if order['payment_method'] == 'cash' %}
                    Наличные
                {% else %}
                    {{ order['payment_method'] }}
                {% endif %}
            </td>
            <td>{{ 'Да' if order['paid'] else 'Нет' }}</td>
            <td>
                <a href="{{ url_for('order_detail', order_id=order['order_id']) }}" class="btn btn-primary btn-sm">Просмотр</a>
                <!-- Кнопка "Удалить заказ" -->
                <form action="{{ url_for('delete_order', order_id=order['order_id']) }}" method="post" style="display:inline-block; margin-left: 5px;" onsubmit="return confirm('Вы уверены, что хотите удалить этот заказ?');">
                    <!-- Добавление CSRF-токена -->
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger btn-sm">Удалить заказ</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Заказы не найдены.</p>
{% endif %}
{% endblock %}